.Nav
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 1em 2.3em
  display: flex
  z-index: 1000
  align-items: center
  justify-content: space-between

  .logo
    display: block
    height: 2em
    width: 2em
    text-decoration: none
    cursor: pointer

    img
      display: block
      height: 100%
      width: 100%

  a
    color: #fff
    font-size: 1.1em
    text-decoration: none
    font-weight: 500
    cursor: pointer
    transition: all .3s ease-in-out

    &:hover
      opacity: .75